<div class="navbar-wagon">
  <div class="navbar-wagon-brand"><%=  link_to "wikinimous", articles_path %></div>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "new article", new_article_path%>

      </div>

  </div>
</div>
